In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('abalone.csv')

In [3]:
#средние количество колей по полу
data.groupby('Sex').Rings.mean()

Sex
F    11.129304
I     7.890462
M    10.705497
Name: Rings, dtype: float64

In [4]:
#агрегированые данные по диаметру для полов
data.groupby('Sex').Diameter.describe()

      count      mean       std    min    25%    50%    75%   max
Sex
F    1307.0  0.454732  0.070954  0.195  0.410  0.465  0.505  0.65
I    1342.0  0.326494  0.088109  0.055  0.270  0.335  0.390  0.55
M    1528.0  0.439287  0.084398  0.110  0.395  0.455  0.500  0.63

In [5]:
#медианы атрибутов по полам
data.groupby('Sex').median()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
Sex,,,,,,,,
F,0.590,0.465,0.160,1.03850,0.44050,0.2240,0.295,10
I,0.435,0.335,0.110,0.38400,0.16975,0.0805,0.113,8
M,0.580,0.455,0.155,0.97575,0.42175,0.2100,0.276,10

In [6]:
#выбор атрибутов для вывод агрю данных
data.groupby('Sex').Rings.agg(['min', 'max'])

     min  max
Sex
F      5   29
I      1   21
M      3   27